<!DOCTYPE html>
<html>
<head>
    <title>Certificaat</title>
    <link rel="stylesheet" type="text/css" href="/courseCertificateStyle.css">
</head>
<body class="center-horizontal">
    <img src="/images/logo_qhighschool-white.svg" id="right-bottom-logo">

    <img src="/images/Q-highschool_visual_A4_Oranje.jpg" id="background" class="center-horizontal">
    <div id="middle-text">
        <p class="title"> Certificaat </p>
        <p class="sub-text"> Hierbij verklaart Quadraam dat </p>
        <p class="main-text"> <%= user.firstName + " " + user.lastName %> </p>
        <p class="sub-text"> de Q-Highschool module </p>
        <p class="main-text<%= group.courseName.length < 65 ? "" : "-small" %>"> <%= group.courseName %> </p>
        <p class="sub-text"> met een studietijd van <%= group.studyTime%> uur </p>

        <% if ( group.evaluation.type === "check") {%>
            <p class="sub-text"> heeft afgerond </p>
        <% } else { %>
            <p class="sub-text"> heeft afgerond met beoordeling </p>
            <% if ( group.evaluation.type === "stepwise" ) {
                switch (group.evaluation.assesment ) {
                    case "V": %>
                        <p class="main-text"> Voldoende </p>
                        <% break;
                    case "O": %>
                        <p class="main-text"> Onvoldoende </p>
                        <% break;
                    case "G": 
                    default:%>
                        <p class="main-text"> Goed </p>
                    <% } 
            } else { %>
                <p class="main-text"> <%= group.evaluation.assesment %> </p>
            <% } %>
        <%}%>

        <div id="date" class="center-horizontal">
            <p class="sub-text"> op </p>
            <p class="sub-text"> <%= group.evaluation.updatedAt.getDate() + "-" + (group.evaluation.updatedAt.getMonth() + 1) + "-" + group.evaluation.updatedAt.getFullYear() %> </p>
        </div>
    </div>

    <div id="signature" >
        <p class="sub-text" id="signature-text">Quadraam:</p>
    </div>
</body>
</html>