<!DOCTYPE html>
<%  const COURSES_PER_PAGE = 8;  
    let pages =  Math.ceil(groups.length / COURSES_PER_PAGE);%>

<head>
    <title>Portfolio <%= user.displayName %></title>
    <link rel="stylesheet" type="text/css" href="/public/portfolioCertificateStyle.css">
    <!-- For printing every page needs be top:i*100%, and on the webpage it needs to be top:i*297mm-->
    <style>
        <% for (let i=0;
        i <=pages;

        i++) {
            %>#page<%=i%> {
                top: <%=i * 297%>mm;
            }

            <%
        }

        %>@media print {
            <% for (let i=0;
            i <=pages;

            i++) {
                %>#page<%=i%> {
                    top: <%=i * 100%>%;
                }

                <%
            }

            %>
        }
    </style>
</head>

<body>
    <%for ( let i = 0; i < pages ; i ++ ) {%>
    <div class="page center-horizontal" id="page<%=i%>">
        <img src="/public/images/logo_qhighschool_white.svg" id="right-bottom-logo">
        <img src="/public/images/top_orange_q.svg" id="top-logo">

        <p id="title" class="center-horizontal"> CERTIFICAAT </p>
        <img src="/public/images/background_portfolio.png" id="background" class="center-horizontal">
        <div id="middle-text" class="center-horizontal">
            <p class="sub-text"> Hierbij verklaart Quadraam dat </p>
            <p id="name-text"> <%= user.firstName + " " + user.lastName %> </p>
            <p class="sub-text"> de volgende Q-Highschool modules heeft afgerond </p>
        </div>

        <table class="center-horizontal">
            <tr>
                <th>Naam module</th>
                <th>Beoordeling</th>
            </tr>
            <% for ( let j = 0; j < groups.length - ( i * COURSES_PER_PAGE) && j < COURSES_PER_PAGE ; j++ ) { 
                let group = groups[(i*COURSES_PER_PAGE) + j];%>
            <tr>
                <td class="<%= group.courseName.length < 50 ? "" : "table-cell-padding-small" %>"><%= group.courseName%>
                </td>
                <% switch (group.evaluation.type) {
                            case "stepwise":
                                switch (group.evaluation.assesment) {
                                    case "G":%>
                <td>Goed</td>
                <%break;
                                    case "V":%>
                <td>Voldoende</td>
                <%break;
                                    case "O":
                                    default: %>
                <td>Onvoldoende</td>
                <%}; 
                            break;
                            case "check": %>
                <td><%=group.evaluation.assesment === "passed"? "Gehaald": "Niet gehaald"%></td>
                <% break;
                            case "decimal":
                            default: %>
                <td><%=group.evaluation.assesment%></td>
                <%}%>
                </tr>
            <%}%>
        </table>

        <div id="signature">
            <img id="signature-img" src="/public/images/signature_white.png"></img>
            <p class="sub-text bold-text" id="signature-text">mevr. E. Lohuis</p>
            <p class="sub-text" id="signature-text">examensecretaris Q-highschool</p>
        </div>

    </div>
    <% } %>
    <%if (pages%2===1) {%>
    <div class="page center-horizontal" id="page<%=pages%>">
        <!-- <img src="/images/logo_qhighschool_white.svg" id="right-bottom-logo">
        <img src="/images/top_orange_q.svg" id="top-logo">

        <p id="title" class="center-horizontal"> CERTIFICAAT </p>
        <img src="/images/background_portfolio.png" id="background" class="center-horizontal"> -->
    </div>
    <%}%>
</body>