<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>
      Beste <%= user.firstName %>,
      <br />
      <br />
      Je beoordeling voor <%= ((course.subject.name =="Avonturen") ? "het avontuur":"de module") %>
      <b><%= course.name %></b> is gewijzigd.
      <br />
      <br />
       <table>
				<tr>
					<td>Beoordeling</td>
					<td><b><%= evaluation.assesment %><b></td>
				</tr>
				<tr>
					<td>Uitleg beoordeling</td>
					<td><%= evaluation.explanation %></td>
				</tr>
			</table> 
      <br />
      <br />
      Mocht je vragen of opmerkingen hebben, neem dan contact op met de docent/expert.
      <br />
      <br />
      Met vriendelijke groet,
      <br />
      <br />
      Het Q-highschoolteam.
    </p>
  </body>
</html>
